<!--投稿詳細-->

<div class="body">
  <div class="container">

    <!--サクセスメッセージ-->
    <p id="notice">
      <%= notice %>
    </p>

    <!--コメントエラーメッセージ-->
    <!--<div class="error">


    <!--サイドバー-->
    <div class="row">
      <div class="col-md-3">
        <%= render 'users/userinfo', user: @user %> <!--User infoの部分テンプレート-->
        <%= render "books/newbook", book: @newbook %>
      </div>

      <!--投稿詳細-->
      <div class="col-md-8 offset-md-1">

        <h2>Book detail</h2>
       <div class="detail__table">
         <%= render "detail",book: @book %>
       </div>
        <!--コメント表示-->

                  <div class="comment__table">
                    <%= render 'book_comments/index', book_comments: @book.book_comments %>
                  </div>



     <!-- コメント用 form-->
     <%#= form_for [@book, @book_comment] do |f| %>
  <%= form_with(model:[@book, @book_comment], remote: true) do |f| %>
    <div class="row">
        <div class="col-sm-12">
            <%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
        </div>
    </div>
    <%= f.submit "送信" %>
 <% end %>

<!-- ここまで -->

      </div>
    </div>

  </div>
</div>
